<h1>Hello world from index!</h1>

<a href="/demo/hello">Hello page 1</a> <br>
<%= link_to('Hello page 2', {:action => 'hello'}) %>

<%= link_to('Hello with paramethers', {:action => 'hello', :page => 5, :id => 20}) %>

<%= link_to('Roar', '#', onClick: "jsRoar('JavaScript'); return true;") %>
