<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as: <%= @username %></div>
  <ul>
    <li><%= link_to('Manage Content', subjects_path) %></li>
    <li><%= link_to('Manage Sections', sections_path) %></li>
    <li><%= link_to('Manage Admin Users', admin_users_path) %></li>
    <li><%= link_to('Logout', access_logout_path) %></li>
  </ul>
</div>
