<%= link_to("<< Back to List", sections_path, class: "back-link") %>

<div class="sections delete">
  <h2>Delete Section</h2>

  <%= form_for(@section, :url => section_path(@section, :page_id => @page.id), method: 'delete') do |f| %>
    <p>
      Are you sure want to delete this section?
    </p>
    <p class="reference-name"><%= f.object.name %></p>
    <div class="form-buttons">
      <%= f.submit('Delete Section') %>
    </div>
  <% end %>
</div>
