<%= link_to('<< Back to List', sections_path, class:'back-link') %>

<div class="section edit">
  <h2>Edit Section</h2>

  <%= form_for(@section, :url => section_path(@section, :page_id => @page.id)) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-button">
    <%= f.submit('Edit Section') %>
  </div>
  <% end %>
</div>
