<%= link_to("<< Back to List", sections_path(:page_id => @page.id), class: 'back-link') %>

<div class="sections show">
    <h2>Show Page</h2>

    <table summary="Section detail view">
        <tr>
            <th>Name</th>
            <td><%= @section.name %></td>
        </tr>
        <tr>
            <th>Page ID</th>
            <td><%= @section.page_id %></td>
        </tr>
        <tr>
            <th>Position</th>
            <td><%= @section.position %></td>
        </tr>
        <tr>
            <th>Visible</th>
            <td><%= @section.visible ? 'true' : 'false' %></td>
        </tr>
        <tr>
            <th>Content type</th>
            <td><%= @section.content_type %></td>
        </tr>
        <tr>
            <th>Content</th>
            <td><%= @section.content %></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><%= @section.created_at %></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><%= @section.updated_at %></td>
        </tr>
    </table>
</div>
