<%= error_messages_for(f.object) %>

<table summary="Page form field">
    <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
        <th>Subject</th>
        <td><%= f.object.subject.name%></td>
    </tr>
    <tr>
        <th>Permalink</th>
        <td><%= f.text_field(:permalink) %></td>
    </tr>
    <tr>
        <th>Position</th>
        <td><%= f.select(:position, 1..@page_count) %></td>
    </tr>
    <tr>
        <th>Visible</th>
        <td><%= f.check_box(:visible) %></td>
    </tr>
</table>
