
<%= link_to('<< Back to List', pages_path(:subject_id => @subject.id), class: "back-link") %>

<div class="page new">
    <h2>Create Page</h2>

    <%= form_for(@page, :url => pages_path(:subject_id => @subject.id)) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-button">
        <%= f.submit('Create Page') %>
    </div>
    <% end %>
</div>
