<%= link_to("<< Back to List", subject_path, class: 'back-link') %>

<div class="subject edit">
  <h2>Update Subject</h2>

  <%= form_for(@subject) do |f|%>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Subject") %>
    </div>
  <% end %>
</div>
