<% @page_title = 'New Subject' %>

<%= link_to("<< Back to List", subjects_path, class: "back-link") %>

<div class="subjects new">
  <h2>Create Subject</h2>

  <%= form_for(@subject) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-button">
      <%= f.submit("Create Subject") %>
    </div>
  <% end %>
</div>
