<% @page_title = 'New Admin User' %>

<%= link_to("<< Back To List", admin_users_path, class: 'back-link') %>

<div class="admin-users new">
  <h2>Create Admin User</h2>

  <%= form_for(@admin_user) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit('Create Admin User') %>
    </div>
    
  <% end %>
</div>
