// Admin additional styles
// load after primary.css.scss

// Structure
#content {
  padding-left: 100px;
  padding-right: 100px;
  h2 {
    width: 100%;
    text-align: center;
  }
}

.login form{
  margin: 100px 250px;
}

.menu {
  .identity {text-align: center;}
  ul {
    margin: 3em 250px;
    list-style: none;
    li {margin-bottom: 1em;}
  }
}

a{
  text-decoration: none;
  &:hover {text-decoration: underline;}
}

// large action buttons
a.action.large {
  float: right;
  padding: 2px 5px;
  margin: 0 0 1em 1em;
  background: #94B26F;
  color: #4C2516;
  border: 1px solid #4C2516;
  text-decoration: none;
  font-size: 0.8em;
  text-align: center;
  &:hover {background: #B6D491;}
}

// small action buttons
.actions {
  width: 230px;
  a.action {
    float:left;
    min-width: 3.5em;
    padding: 1px 2px;
    margin: 2px 5px;
    font-size: 0.7em;
  }
}

// CRUD
.notice {
  height: 1.25em;
  padding: 0.5em;
  text-align: center;
  background: #B6D491;
  color: #4C2516;
}

.back-link {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.form-buttons {
  text-align: center;
  margin: 1em 0;
}

.index {
  table {
    clear: both;
    width: 100%;
    tr td {border: 1px solid #666666}
  }
}

.show {
  table{
    clear: both; margin: 0 200px; width: 300px;
    &.wide {width: 600px; margin: 0 50px;}
    tr th {white-space: nowrap; padding-right: 5px;}
    tr td {border: 1px solid #666666;}
  }
}

.section + .section {
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top:1px dotted #666666;
}

// status tag
span.status {
  display: block;
  width: 10px; height: 10px;
  margin: 0.25em auto; padding: 0;
  border: 1px solid #000000;
  &.true {background: green; color: green;}
  &.false {background: red; color: red;}
}

// Errors
.field_with_errors {
  label {color: #AA0000;}
  input { border: 1px solid red;}
}

#error-explanation {
  width: 400px;
  padding: 0; margin: 0 auto 1.5em;
  border: 1px solid #AA0000;
  background-color: #FFFFFF;
  font-size: 12px;
  h2{
    font-weight: bold;
    font-size: 12px;
    padding: 5px 5px 5px 15px; margin: 0;
    width: 380px;
    background-color: #AA0000; color: #FFFFFF;
  }
  p {
    color: #333333;
    margin: 0; padding: 3px 0.5em;
  }
  ul {margin-top: 0;}
  ul li {list-style: square;}
}
