<% subjects ||= [] %>

<ul>
  <% subjects.each do |subject| %>
    <li>
      <%= subject.name %>
      <ul>
        <% subject.pages.visible.sorted.each do |page|%>
          <li><%= link_to_unless_current(page.name, public_show_path(page.permalink)) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
