<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple CMS: <%= @page_title || 'Admin Area' %></title>
    <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body>

    <div id="header">
      <h1>Simple CMS Admin</h1>
    </div>
    <div id="main">
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; igor.com</p>
    </div>
  </body>
</html>
